.header-title {
  text-align: center; }

.wrapper {
  max-width: 1200px;
  min-width: 720px;
  margin: 20px auto;
  border: 1px solid #ddd;
  border-radius: 4px 4px 0 0;
  padding: 12px;
  position: relative; }

.product-info {
  padding: 10px;
  display: inline-block; }

.img-wrapper {
  display: inline-block;
  width: 49%; }

.form-wrapper {
  display: inline-block;
  vertical-align: top;
  width: 49%; }

.price-container {
  padding: 10px; }

.product-options {
  padding: 10px 0; }

.hr-line {
  border-bottom: 2px solid #ccc;
  margin: 10px 20px; }

.buy-options {
  padding: 20px 0; }

.ch-price {
  font-size: 30px; }

.tabs {
  list-style: none; }

.tabs li {
  display: inline; }

.tabs li a {
  color: black;
  float: left;
  display: block;
  padding: 4px 10px;
  margin-left: -1px;
  position: relative;
  left: 1px;
  background-color: transparent;
  text-decoration: none; }
  .tabs li a:hover {
    background-color: #ccc; }

.group:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

.box-wrap {
  position: relative;
  min-height: 250px; }

.tabbed-area div div {
  background: white;
  min-height: 250px;
  position: absolute;
  top: -1px;
  left: 0;
  width: 100%; }

.tabbed-area div div,
.tabs li a {
  border: 1px solid #ccc; }

.tabbed-area {
  padding: 10px 20px; }

#box-one:target,
#box-two:target {
  padding: 10px;
  z-index: 1; }

.carrousel-title {
  padding: 0 10px; }
