.asdf {
  color: blue;
}

.wrapper {
  width: 844px;
}

.section-width {
  margin: 20px 0 0;
  border: 1px solid #ddd;
  border-radius: 4px 4px 0 0;
  padding: 12px;
  position: relative;
}

.product-info {
  background-color: blue;
  width: 40%;
}

.price-container {
  background-color: gold;
}

.img-width {
  width: 40%;
}