.header {
  text-align: center;
}

.title {
  font-size: 30px;
  margin-bottom: 25px;
}

.wrapper{
  max-width: 960px;
  min-width: 720px;
  margin: 20px auto;
  border: 1px solid #ddd;
  border-radius: 4px 4px 0 0;
  padding: 12px;
  position: relative;
}

.section-width {
  display: flex;
}

.product-info {
  padding: 10px;
  display: inline-block;
}

.img-wrapper {
  display: inline-block;
  width: 49%;
}

.main-image {
  width: 470px;
}

.form-wrapper {
  display: inline-block;
  vertical-align: top;
  width: 49%;
}

.price-container {
  padding: 10px;
}

.product-options {
  padding: 10px 0;
}

.hr-line {
  border-bottom: 2px solid #ccc;
  margin: 10px 20px;
}

.buy-options {
  padding: 20px 0;
}

.ch-price {
  font-size: 36px;
}

.label-options {
  display: inline-block;
  width: 70px;
}